.footer {
  background-color: var(--dark-purple);
  padding: 2.25em 0;

  @media (min-width: $desktop-width) {
    padding: 2em 0;
  }
}

.footer > .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}