.hero {
  padding-top: 2.375em;
}

.hero > .inner-container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.hero__text {
  @media (min-width: $tablet-width) {
    margin-top: 2em;
    width: calc(20em + 10vw);
  }
  @media (min-width: $desktop-width) {
    margin-top: 6em;
    width: 45%
  }
}

.hero__text h1 {
  margin-top: 0;
}

.hero__text p {
  margin: 1.5em 0;
}

.hero__image {
  margin-top: 2em;

  @media (min-width: $tablet-width) {
    height: 28em;
    width: 20em;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    height: 38em;
    width: 31em;
  }
}

.hero__image img {
  width: 130%;
  margin-left: -15%;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38em;
  }

  @media (min-width: $desktop-width) {
    width: 60em;
  }
}