.main {
  padding-bottom: 5em;
  background-image: var(--background-gradient);

  @media (min-width: $tablet-width) {
    margin-top: 2.5em;
    padding-bottom: 5.5em;
  }

  @media (min-width: $desktop-width) {
    margin-top: 5em;
    padding-bottom: 8.75em;
  }
}