.top-nav {
  padding: 1em 0;

  @media (min-width: $tablet-width) {
    padding-top: 1.5em;
  }

  @media (min-width: $desktop-width) {
    padding-top: 2.5em;
  }
}

.top-nav > .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}