:root {
  box-sizing: border-box;
  overflow-x: hidden;
  --muted-purple: #666ca3;
  --dark-purple: #13183f;
  --medium-gray: #83869a;
  --vivid-pink: #f74780;
  --light-pink: #ffa7c3;
  --white: #ffffff;
  --background-white: #ffffff;
  --background-gradient: linear-gradient(to bottom, var(--background-white), #f0f1ff);
  --cta-gradient: linear-gradient(to bottom, #ff6f48, #f02aa6);
  --cta-secondary-gradient: linear-gradient(to bottom, #4851ff, #f02aa6);
  --gray-transparency: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5));
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: var(--background-white);
}

h1, h2, h3, h4 {
  line-height: 1.25;
  font-weight: 800;
  color: var(--dark-purple);
}

h1 {
  font-size: 2.5rem;
}
@media (min-width: 75em) {
  h1 {
    font-size: 3.5rem;
  }
}

h2 {
  font-size: 1.5rem;
}
@media (min-width: 48em) {
  h2 {
    font-size: 2rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (min-width: 75em) {
  h4 {
    font-size: 1.5rem;
  }
}

p {
  line-height: 1.625;
  font-size: 1rem;
  font-weight: 500;
  color: var(--medium-gray);
}
@media (min-width: 75em) {
  p {
    line-height: 1.555;
    font-size: 1.125rem;
  }
}

.inner-container {
  margin-left: 1em;
  margin-right: 1em;
}
@media (min-width: 48em) {
  .inner-container {
    margin-left: 2.5em;
    margin-right: 2.5em;
  }
}
@media (min-width: 75em) {
  .inner-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 70em;
  }
}

.top-nav {
  padding: 1em 0;
}
@media (min-width: 48em) {
  .top-nav {
    padding-top: 1.5em;
  }
}
@media (min-width: 75em) {
  .top-nav {
    padding-top: 2.5em;
  }
}

.top-nav > .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  display: flex;
}

.home-link img {
  align-self: center;
  width: 5.625em;
}
@media (min-width: 75em) {
  .home-link img {
    width: 7.125em;
  }
}

.button {
  display: inline-block;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.75;
  color: var(--white);
  background-color: var(--dark-purple);
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.5em 1.5em;
  border-radius: 1.75em;
}
@media (min-width: 75em) {
  .button {
    font-size: 1.125rem;
    line-height: 1.555;
  }
}
.button:hover {
  background-image: var(--gray-transparency);
}

.button--large {
  padding: 1em 2.375em;
  border-radius: 2em;
}
@media (min-width: 75em) {
  .button--large {
    padding: 1em 1.78em;
  }
}

.button--cta-primary {
  background-image: var(--cta-gradient);
}
.button--cta-primary:hover {
  background-image: var(--gray-transparency), var(--cta-gradient);
}

.button--cta-secondary {
  background-image: var(--cta-secondary-gradient);
}
.button--cta-secondary:hover {
  background-image: var(--gray-transparency), var(--cta-secondary-gradient);
}

.hero {
  padding-top: 2.375em;
}

@media (min-width: 48em) {
  .hero > .inner-container {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 48em) {
  .hero__text {
    margin-top: 2em;
    width: calc(20em + 10vw);
  }
}
@media (min-width: 75em) {
  .hero__text {
    margin-top: 6em;
    width: 45%;
  }
}

.hero__text h1 {
  margin-top: 0;
}

.hero__text p {
  margin: 1.5em 0;
}

.hero__image {
  margin-top: 2em;
}
@media (min-width: 48em) {
  .hero__image {
    height: 28em;
    width: 20em;
    position: relative;
  }
}
@media (min-width: 75em) {
  .hero__image {
    height: 38em;
    width: 31em;
  }
}

.hero__image img {
  width: 130%;
  margin-left: -15%;
}
@media (min-width: 48em) {
  .hero__image img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 38em;
  }
}
@media (min-width: 75em) {
  .hero__image img {
    width: 60em;
  }
}

.main {
  padding-bottom: 5em;
  background-image: var(--background-gradient);
}
@media (min-width: 48em) {
  .main {
    margin-top: 2.5em;
    padding-bottom: 5.5em;
  }
}
@media (min-width: 75em) {
  .main {
    margin-top: 5em;
    padding-bottom: 8.75em;
  }
}

.tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: 1fr;
  grid-gap: 2.5em 0.625em;
}
@media (min-width: 48em) {
  .tile-container {
    grid-gap: 3.5em 0.625em;
  }
}
@media (min-width: 75em) {
  .tile-container {
    grid-gap: 5em 1.875em;
  }
}

.tile {
  background-color: var(--white);
  border-radius: 1em;
  padding: 3.5em 1.75em 2em;
  position: relative;
  display: flex;
  flex-direction: column;
}
@media (min-width: 75em) {
  .tile {
    padding-bottom: 2.5em;
  }
}

.tile__icon {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
}

.tile > h4 {
  margin-top: 0;
}

.tile :last-child.link {
  margin-top: auto;
}

.tile--featured {
  background-image: var(--cta-gradient);
  padding-top: 1.5em;
  padding-bottom: 2em;
}
@media (min-width: 48em) {
  .tile--featured {
    padding-top: 4em;
  }
}

.tile--featured > h2 {
  color: var(--white);
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--vivid-pink);
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 1.555;
}

.link:hover {
  color: var(--light-pink);
}

.link:active {
  color: var(--vivid-pink);
}

.footer {
  background-color: var(--dark-purple);
  padding: 2.25em 0;
}
@media (min-width: 75em) {
  .footer {
    padding: 2em 0;
  }
}

.footer > .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=styles.css.map */
